# ===== VS Code =====
.vscode/
*.code-workspace

# ===== Build directories =====
build/
bin/
obj/

# ===== Compiled objects & binaries =====
*.o
*.o.d
*.out
a.out

# ===== Executables =====
drone
input
network
obstacle
server
target
watchdog

# ===== Logs & runtime files =====
*.log
*.pid
logs/
registry.pid

